<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/home/tabs/friends"></ion-back-button>
    <ion-title>Add Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nama</ion-label>
        <ion-input type="text" ngModel name="nama"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" ngModel name="email"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" color="primary" expand="block">SIMPAN</ion-button>


  </form>
</ion-content>