<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome to My Dashboard!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Your Registered EmailId : {{ userEmail }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-tabs>
  <ion-tab-bar slot="button">
    <ion-tab-button tab="friends">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Friends</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="maps">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<!--
<ion-toolbar color="secondary">
  <ion-title (click)="logout()">Logout</ion-title>
</ion-toolbar>
-->